project/step_function_definition.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SerializeImageData",
  "States": {
    "SerializeImageData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload.body %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:759671587466:function:SerializeImageData:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "ClassifyImage"
    },
    "ClassifyImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload.body %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:759671587466:function:ClassifyImage",
        "Payload": {
          "image_data": "{% $states.input.image_data %}",
          "s3_bucket": "{% $states.input.s3_bucket %}",
          "s3_key": "{% $states.input.s3_key %}",
          "inferences": []
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "FilterLowConfidence"
    },
    "FilterLowConfidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload.body %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:us-east-1:759671587466:function:FilterLowConfidence",
        "Payload": {
          "image_data": "{% $states.input.image_data %}",
          "s3_bucket": "{% $states.input.s3_bucket %}",
          "s3_key": "{% $states.input.s3_key %}",
          "inferences": "{% $states.input.inferences %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}